doctype html
html(lang="en")
  head
    title Golden Soul
    link(rel='stylesheet', href='/css/rollup/bootstrap.min+chimera-core+app')
  body    
    div(id='app')
    script(type='text/javascript', src='/js/bundle.js')
